html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.title-bar {
  background-color: rgb(29, 29, 29);
  height: 75px;
  display: flex;
  align-items: center;
}

.title {
  color: rgb(201, 201, 201);
  font-size: x-large;
  padding: 10px 0;
  margin: 0 10px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-content {
  flex: 1;
  display: flex;
}

.sidebar {
  display: none;
  background-color: rgb(10, 10, 10);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 225px;
}

.sidebar-nav > li > div {
  color: rgb(201, 201, 201);
  padding: 20px 15px;
  border-bottom: 1px solid white;
}

#sidebar-toggle {
  position: absolute;
  max-width: 50px;
}

.sidebar.open {
    display: block;
}

.content {
  height: 100%;
  width: 100%;
}
